<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        li.navigation{
            display: inline;
            font-size: 20px;
            padding: 15px;
        }
        li.blog{
            list-style: none;
            border-bottom: 1px solid;
        }
        h1 {
            text-align: center;
        }
        .error {
            color: red;
        }

        ul.login{
            display: inline-block;
            float: right;
        }
    </style>
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <ul>
            <li class = 'navigation'><a href="/index">Home</a></li>
            <li class = 'navigation'><a href="/blog">All Posts</a></li>
            <li class = 'navigation'><a href="/newpost">New Post</a></li>
            
        </ul>
        <ul class = 'login'>
            <li class ='navigation'><a href='/login'>Login</a></li>
            <li class = 'navigation'><a href='/logout'>Log out</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    
</body>
</html>